

@media screen and (max-width: 400px) {
 .pic{
   
   margin-left: -0.02px;

}
.down{
    flex-direction: column;
    margin-left: 1rem;
}
.sponsorPic{
    width: 25.1rem;
    margin-top: 2rem;

}

.img{
    width: 5rem;
}
.partners{
    align-items: center;
}
}

@media  (min-width: 401px) and (max-width: 450px) {
 .pic{
   
   margin-left: 1.7rem;

}
.down{
    flex-direction: column;
    margin-left: 1rem;
}
.sponsorPic{
    width: 25.1rem;
    margin-top: 2rem;
}
}

@media (mim-width: 800px) and (max-width: 1050px) {
 
.partnerDiv{
    flex-direction: column;
    margin-left: 1rem;
}
.partners{
    margin-top: 2rem;
  
}



}
